@tailwind base;
@tailwind components;
@tailwind utilities;

.icon > svg {
    @apply fill-secondary dark:fill-primary;
}

/* div:nth-child(1) .iconM > svg {
    @apply fill-secondary dark:fill-primary;
} */
svg#Layer_1{
    @apply fill-secondary dark:fill-primary;
}
.services {
    @apply text-secondary dark:text-primary;
}
.showMenuNav{
    @apply bg-white dark:bg-black;
}
@layer base {
    html {
        font-family: 'Anton', sans-serif;
    }
    p{
        font-family: 'Montserrat', sans-serif;    
    }
    .title{
        text-shadow: 1px 1px 2px #d9d9d9,
                     1px -1px 2px #d9d9d9,
                    -1px 1px 2px #d9d9d9,
                    -1px -1px 2px #d9d9d9;    
    }
    .shadow{
            text-shadow: 1px 1px 2px rgb(221, 220, 220),
                1px -1px 2px rgb(221, 220, 220),
                -1px 1px 2px rgb(221, 220, 220),
                -1px -1px 2px rgb(221, 220, 220);
            box-shadow: none !important;
    }
    .shadowNone{
        text-shadow: none;
    }

    .fontM{
        font-family: 'Montserrat', sans-serif;
    }

    .titleP{
        writing-mode: vertical-rl;
        text-orientation: sideways;
        transform: rotate(180deg);
    }

    .nav-list{
        font-size: 30px;
        font-weight: 400;
        text-align: left;
        padding: 6px;
    }

    .back{
        background: url(./images/back.gif);
    }

    .displayNone{
        display: none;
    }

    .displayInit{
        display: inline;
    }

    .hideMenuNav {
      display: none;
    }
        
    .showMenuNav {
      display: block;
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 50;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    .ImageH{
        height: -webkit-fill-available;
    }

}